@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) rgba(255, 255, 255, 0);
}

/* Works on Chrome, Edge, and Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, 0);
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
}